.containerDiv {
    position: relative ;
    display:  flex;
};

.containerInput {
    padding-right: '30px' ;
};

/*.containerBtn {
    position:   absolute ;
    right:      10px ;
    top:        50% ;
    transform:  translateY(-50%) ;
    background: none ;
    border:     none ;
    cursor:     pointer ;
    border-bottom: 2px solid #007bff ; Cambiar el color a azul (puedes usar cualquier color)
    background-color: transparent;  Hacer el fondo transparente si es necesario
};*/

.containerBtn:hover {
    border-bottom: 2px solid #0056b3; /* Cambiar el color en hover */
};